<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:aop="http://www.springframework.org/schema/aop"     
       xmlns:context="http://www.springframework.org/schema/context"    
       xmlns:mvc="http://www.springframework.org/schema/mvc"     
       xmlns:tx="http://www.springframework.org/schema/tx"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
       xsi:schemaLocation="http://www.springframework.org/schema/aop     
        http://www.springframework.org/schema/aop/spring-aop.xsd     
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd     
        http://www.springframework.org/schema/context     
        http://www.springframework.org/schema/context/spring-context.xsd     
        http://www.springframework.org/schema/mvc     
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/tx     
        http://www.springframework.org/schema/tx/spring-tx.xsd"
        default-autowire="byName">
        <!--第一步：开启注解功能，并且进行项目扫描，加载service及其以下的注解类-->
  		<mvc:annotation-driven /> 
  		<context:component-scan base-package="com.mmall"/>
  		<!--第二步：首先添加jdbc资源文件，并配置datasource进行解析--><!-- 详见请滑至底端 -->
		<context:property-placeholder location="classpath*:jdbc.properties" ignore-unresolvable="true"/>
		<!-- 第三步：导入spring整合DataSource的配置文件【因为这里将DataSource配置分离成另一个xml了】 -->
		<import resource="applicationContext-dataSource.xml"/>
				
</beans>