<?xml version="1.0" encoding="UTF-8"?>
<!-- scan: 设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
　　　scanPeriod: 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
　　　debug: 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration>
	<!-- 子节点1：用来定义变量值，它有两个属性name和value，通过<property>定义的值会被插入到logger上下文中，可以使“${}”来使用变量。 -->
	<property name="Local_Home" value="E:/logs/mmall" />
	<property name="LOG_PATH" value="${Local_Home}/logs" />
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/>
	<!-- 子节点2：用来设置上下文名称，用于区分不同应用程序的记录。每个logger都关联到logger上下文，默认上下文名称为default。一旦设置，不能修改。 -->
	<!-- <contextName>${APP_Name}</contextName>  -->
	<!-- 子节点3：获取时间戳字符串，他有两个属性key和datePattern。key: 标识此<timestamp> 的名字；datePattern: 设置将当前时间（解析配置文件的时间）转换为字符串的模式。 -->	
	<!-- <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/> -->
	<!--  --><!--  --><!--  --><!--  -->
	<!-- appender子节点：负责写日志的组件，它有两个必要属性name和class。name指定appender名称，class指定appender的全限定名-->
	<!-- ConsoleAppender：把日志输出到控制台 -->	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>UTF-8</encoding>
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS}] [%p] [%c{40}] [%t] %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	
	<appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/logfile-${timestamp-by-second}.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    <appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/rollingfile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/rollingfile.log%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Async-Appender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="RollingFile-Appender" />
    </appender>

    <logger name="guru.springframework.blog.logbackxml"  level="info" additivity="false">
        <appender-ref ref="Console-Appender" />
        <appender-ref ref="File-Appender" />
        <appender-ref ref="Async-Appender" />
    </logger>
    <logger name="com.ibatis" level="DEBUG" />  
    <root>
        <appender-ref ref="Console-Appender" />
    </root>
</configuration>